<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Game Collection{% endblock %}</title>
</head>
<body class="container mt-4">
    <h1 class="text-center">Game Collection</h1>
    <nav class="mb-4">
        <a href="{{ url_for('index') }}" class="btn btn-primary">На головну</a>
        <a href="{{ url_for('add_game') }}" class="btn btn-success">Додати інфо про гру(ігри)</a>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>